.gitLink > img{
    width: 50px;
    height: 50px;;
    }
    
.gitLink > p{
margin: 0px;
}

.verticalSection{
    display: flex;
    flex-direction: row;
}

.horizontalSection{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 40vw;
    height: auto;
}

.horizontalSection > p{
    height: auto;
    width: 80%;
    margin-top: 5px;
}

#contact > p {

}

#resume{
    color: rgba(98, 98, 151, 0.911);
}

#links{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1366px) {

    .horizontalSection{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 40vw;
        height: 5px;
        margin: 0px;
        margin-top: 30px;
    }
    
    
    .horizontalSection > .header{
        font-size: 25px;
    }

    .horizontalSection > p{
        height: auto;
        width: 80%;
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 900px){

    #spacer{
        margin-top: auto;
    }

    footer{
        margin: 0px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
}

@media only screen and (max-width: 700px){

    .verticalSection{
        display: flex;
        flex-direction: column;
    }

    .horizontalSection{
        width: 80vw;
        height: auto;
    }
    
    .horizontalSection > .header{
        font-size: 25px;
    }

    .horizontalSection > p{
        width: 80%;
        margin-top: 5px;
        font-size: 0.8rem;
    }

    #spacer{
        margin-top: auto;
    }

    footer{
        margin: 0px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
}